/* COLORS */
// from flatuicolors.com
// Greens
$turquoise: #1abc9c;
$green_sea: #16a085;
$emerald: #39d179;
$nephritis: #27ae60;
// Blues
$peter_river: #3498db;
$belize_hole: #2980b9;
$wet_asphalt: #34495e;
$midnight_blue: #2c3e50;
// Purples
$amethyst: #9c5bb7;
$wisteria: #8e44ad;
// Yellows
$sun_flower: #f1c40f;
// Oranges
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
// Reds
$alizarin: #e74c3c;
$pomegranate: #c0392b;
// Greys
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// Ordinary colors
$red: #f00;
$black: #000;
$white: #fff;
$blue: #00f;
$green: #0f0;

$off_white: #eee;

$light_grey: #bbb;
$dark_grey: #333;
