@import 'variables';
@import 'fonts';
@import 'main';

.colorbox {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	border: 1px solid $Black;
}

.Red { background: $Red; color: $White; }
.Cyan { background: $Cyan; color: $Black; }
.Blue { background: $Blue; color: $White; }
.DarkBlue { background: $DarkBlue; color: $White; }
.LightBlue { background: $LightBlue; color: $Black; }
.Purple { background: $Purple; color: $White; }
.Yellow { background: $Yellow; color: $Black; }
.Lime { background: $Lime; color: $Black; }
.Magenta { background: $Magenta; color: $White; }
.White { background: $White; color: $Black; }
.Silver { background: $Silver; color: $Black; }
.Grey { background: $Grey; color: $White; }
.Black { background: $Black; color: $White; }
.Orange { background: $Orange; color: $White; }
.Brown { background: $Brown; color: $White; }
.Maroon { background: $Maroon; color: $White; }
.Green { background: $Green; color: $White; }
.Olive { background: $Olive; color: $White; }
.Night { background: $Night; color: $White; }
.GunMetal { background: $GunMetal; color: $White; }
.MidNight { background: $MidNight; color: $White; }
.Charcoal { background: $Charcoal; color: $White; }
.DarkSlateGrey { background: $DarkSlateGrey; color: $White; }
.Oil { background: $Oil; color: $White; }
.BlackCat { background: $BlackCat; color: $White; }
.Iridium { background: $Iridium; color: $White; }
.BlackEel { background: $BlackEel; color: $White; }
.BlackCow { background: $BlackCow; color: $White; }
.GrayWolf { background: $GrayWolf; color: $White; }
.VampireGray { background: $VampireGray; color: $White; }
.GrayDolphin { background: $GrayDolphin; color: $White; }
.CarbonGray { background: $CarbonGray; color: $White; }
.AshGray { background: $AshGray; color: $White; }
.CloudyGray { background: $CloudyGray; color: $White; }
.SmokeyGray { background: $SmokeyGray; color: $White; }
.Gray { background: $Gray; color: $White; }
.Granite { background: $Granite; color: $White; }
.BattleshipGray { background: $BattleshipGray; color: $White; }
.GrayCloud { background: $GrayCloud; color: $White; }
.GrayGoose { background: $GrayGoose; color: $Black; }
.Platinum { background: $Platinum; color: $Black; }
.MetallicSilver { background: $MetallicSilver; color: $Black; }
.BlueGray { background: $BlueGray; color: $White; }
.LightSlateGray { background: $LightSlateGray; color: $White; }
.SlateGray { background: $SlateGray; color: $White; }
.JetGray { background: $JetGray; color: $White; }
.MistBlue { background: $MistBlue; color: $White; }
.MarbleBlue { background: $MarbleBlue; color: $White; }
.SlateBlue { background: $SlateBlue; color: $White }
.SteelBlue { background: $SteelBlue; color: $White; }
.BlueJay { background: $BlueJay; color: $White; }
.DarkSlateBlue { background: $DarkSlateBlue; color: $White; }
.MidnightBlue { background: $MidnightBlue; color: $White; }
.NavyBlue { background: $NavyBlue; color: $White; }
.BlueWhale { background: $BlueWhale; color: $White; }
.LapisBlue { background: $LapisBlue; color: $White; }
.CornflowerBlue { background: $CornflowerBlue; color: $White; }
.EarthBlue { background: $EarthBlue; color: $White; }
.CobaltBlue { background: $CobaltBlue; color: $White; }
.BlueberryBlue { background: $BlueberryBlue; color: $White; }
.SapphireBlue { background: $SapphireBlue; color: $White; }
.BlueEyes { background: $BlueEyes; color: $White; }
.RoyalBlue { background: $RoyalBlue; color: $White; }
.BlueOrchid { background: $BlueOrchid; color: $White; }
.BlueLotus { background: $BlueLotus; color: $White; }
.LightSlateBlue { background: $LightSlateBlue; color: $White; }
.SlateBlue { background: $SlateBlue; color: $White; }
.GlacialBlueIce { background: $GlacialBlueIce; color: $White; }
.SilkBlue { background: $SilkBlue; color: $White; }
.BlueIvy { background: $BlueIvy; color: $White; }
.BlueKoi { background: $BlueKoi; color: $White; }
.ColumbiaBlue { background: $ColumbiaBlue; color: $White; }
.BabyBlue { background: $BabyBlue; color: $White; }
.LightSteelBlue { background: $LightSteelBlue; color: $White; }
.OceanBlue { background: $OceanBlue; color: $White; }
.BlueRibbon { background: $BlueRibbon; color: $White; }
.BlueDress { background: $BlueDress; color: $White; }
.DodgerBlue { background: $DodgerBlue; color: $White; }
.CornflowerBlue2 { background: $CornflowerBlue2; color: $White; }
.SkyBlue { background: $SkyBlue; color: $White; }
.ButterflyBlue { background: $ButterflyBlue; color: $White; }
.Iceberg { background: $Iceberg; color: $White; }
.CrystalBlue { background: $CrystalBlue; color: $White; }
.DeepSkyBlue { background: $DeepSkyBlue; color: $White; }
.DenimBlue { background: $DenimBlue; color: $White; }
.LightSkyBlue { background: $LightSkyBlue; color: $White; }
.DaySkyBlue { background: $DaySkyBlue; color: $White; }
.JeansBlue { background: $JeansBlue; color: $White; }
.BlueAngel { background: $BlueAngel; color: $White; }
.PastelBlue { background: $PastelBlue; color: $Black; }
.SeaBlue { background: $SeaBlue; color: $Black; }
.PowderBlue { background: $PowderBlue; color: $Black; }
.CoralBlue { background: $CoralBlue; color: $Black; }
.LightBlue2 { background: $LightBlue; color: $Black; }
.RobinEggBlue { background: $RobinEggBlue; color: $Black; }
.PaleBlueLily { background: $PaleBlueLily; color: $Black; }
.LightCyan { background: $LightCyan; color: $Black; }
.Water { background: $Water; color: $Black; }
.AliceBlue { background: $AliceBlue; color: $Black; }
.Azure { background: $Azure; color: $Black; }
.LightSlate { background: $LightSlate; color: $Black; }
.LightAquamarine { background: $LightAquamarine; color: $Black; }
.ElectricBlue { background: $ElectricBlue; color: $Black; }
.Aquamarine { background: $Aquamarine; color: $Black; }
.TronBlue { background: $TronBlue; color: $Black; }
.BlueZircon { background: $BlueZircon; color: $Black; }
.BlueLagoon { background: $BlueLagoon; color: $Black; }
.Celeste { background: $Celeste; color: $Black; }
.BlueDiamond { background: $BlueDiamond; color: $Black; }
.TiffanyBlue { background: $TiffanyBlue; color: $Black; }
.CyanOpaque { background: $CyanOpaque; color: $Black; }
.BlueHosta { background: $BlueHosta; color: $Black; }
.NorthernLightsBlue { background: $NorthernLightsBlue; color: $Black; }
.MediumTurquoise { background: $MediumTurquoise; color: $Black; }
.Turquoise { background: $Turquoise; color: $Black; }
.Jellyfish { background: $Jellyfish; color: $Black; }
.MacawBlueGreen { background: $MacawBlueGreen; color: $Black; }
.LightSeaGreen { background: $LightSeaGreen; color: $White; }
.DarkTurquoise { background: $DarkTurquoise; color: $White; }
.SeaTurtleGreen { background: $SeaTurtleGreen; color: $White; }
.MediumAquamarine { background: $MediumAquamarine; color: $White; }
.GreenishBlue { background: $GreenishBlue; color: $White; }
.GrayishTurquoise { background: $GrayishTurquoise; color: $White; }
.BeetleGreen { background: $BeetleGreen; color: $White; }
.Teal { background: $Teal; color: $White; }
.SeaGreen { background: $SeaGreen; color: $White; }
.CamouflageGreen { background: $CamouflageGreen; color: $White; }
.SageGreen { background: $SageGreen; color: $White; }
.HazelGreen { background: $HazelGreen; color: $White; }
.VenomGreen { background: $VenomGreen; color: $White; }
.FernGreen { background: $FernGreen; color: $White; }
.DarkForestGreen { background: $DarkForestGreen; color: $White; }
.MediumSeaGreen { background: $MediumSeaGreen; color: $White; }
.MediumForestGreen { background: $MediumForestGreen; color: $White; }
.SeaweedGreen { background:$SeaweedGreen; color: $White; }
.PineGreen { background: $PineGreen; color: $White; }
.JungleGreen { background: $JungleGreen; color: $White; }
.ShamrockGreen { background: $ShamrockGreen; color: $White; }
.MediumSpringGreen { background: $MediumSpringGreen; color: $White; }
.ForestGreen { background: $ForestGreen; color: $White; }
.GreenOnion { background: $GreenOnion; color: $White; }
.SpringGreen { background: $SpringGreen; color: $White; }
.LimeGreen { background: $LimeGreen; color: $White; }
.CloverGreen { background: $CloverGreen; color: $White; }
.GreenSnake { background: $GreenSnake; color: $White; }
.AlienGreen { background: $AlienGreen; color: $White; }
.GreenApple { background: $GreenApple; color: $White; }
.YellowGreen { background: $YellowGreen; color: $White; }
.KellyGreen { background: $KellyGreen; color: $White; }
.ZombieGreen { background: $ZombieGreen; color: $White; }
.FrogGreen { background: $FrogGreen; color: $Black; }
.GreenPeas { background: $GreenPeas; color: $Black; }
.DollarBillGreen { background: $DollarBillGreen; color: $Black; }
.DarkSeaGreen { background: $DarkSeaGreen; color: $Black; }
.IguanaGreen { background: $IguanaGreen; color: $Black; }
.AvocadoGreen { background: $AvocadoGreen; color: $Black; }
.PistachioGreen { background: $PistachioGreen; color: $Black; }
.SaladGreen { background: $SaladGreen; color: $Black; }
.HummingbirdGreen { background: $HummingbirdGreen; color: $Black; }
.NebulaGreen { background: $NebulaGreen; color: $Black; }
.StoplightGoGreen { background: $StoplightGoGreen; color: $Black; }
.AlgaeGreen { background: $AlgaeGreen; color: $Black; }
.JadeGreen { background: $JadeGreen; color: $Black; }
.Green2 { background: $Green2; color: $Black; }
.EmeraldGreen { background: $EmeraldGreen; color: $Black; }
.LawnGreen { background: $LawnGreen; color: $Black; }
.Chartreuse { background: $Chartreuse; color: $Black; }
.DragonGreen { background: $DragonGreen; color: $Black; }
.MintGreen { background: $MintGreen; color: $Black; }
.GreenThumb { background: $GreenThumb; color: $Black; }
.LightJade { background: $LightJade; color: $Black; }
.TeaGreen { background: $TeaGreen; color: $Black; }
.GreenYellow { background: $GreenYellow; color: $Black; }
.SlimeGreen { background: $SlimeGreen; color: $Black; }
.Goldenrod { background: $Goldenrod; color: $Black; }
.HarvestGold { background: $HarvestGold; color: $Black; }
.SunYellow { background: $SunYellow; color: $Black; }
.CornYellow { background: $CornYellow; color: $Black; }
.Parchment { background: $Parchment; color: $Black; }
.Cream { background: $Cream; color: $Black; }
.LemonChiffon { background: $LemonChiffon; color: $Black; }
.Cornsilk { background: $Cornsilk; color: $Black; }
.Beige { background: $Beige; color: $Black; }
.Blonde { background: $Blonde; color: $Black; }
.AntiqueWhite { background: $AntiqueWhite; color: $Black; }
.Champagne { background: $Champagne; color: $Black; }
.BlanchedAlmond { background: $BlanchedAlmond; color: $Black; }
.Vanilla { background: $Vanilla; color: $Black; }
.TanBrown { background: $TanBrown; color: $Black; }
.Peach { background: $Peach; color: $Black; }
.Mustard { background: $Mustard; color: $Black; }
.RubberDuckyYellow { background: $RubberDuckyYellow; color: $Black; }
.BrightGold { background: $BrightGold; color: $Black; }
.GoldenBrown { background: $GoldenBrown; color: $Black; }
.MacaroniAndCheese { background: $MacaroniAndCheese; color: $Black; }
.Saffron { background: $Saffron; color: $Black; }
.Beer { background: $Beer; color: $Black; }
.Cantaloupe { background: $Cantaloupe; color: $Black; }
.BeeYellow { background: $BeeYellow; color: $Black; }
.BrownSugar { background: $BrownSugar; color: $Black; }
.BurlyWood { background: $BurlyWood; color: $Black; }
.DeepPeach { background: $DeepPeach; color: $Black; }
.GingerBrown { background: $GingerBrown; color: $Black; }
.SchoolBusYellow { background: $SchoolBusYellow; color: $Black; }
.SandyBrown { background: $SandyBrown; color: $Black; }
.FallLeafBrown { background: $FallLeafBrown; color: $Black; }
.OrangeGold { background: $OrangeGold; color: $Black; }
.Sand { background: $Sand; color: $Black; }
.CookieBrown { background: $CookieBrown; color: $Black; }
.Caramel { background: $Caramel; color: $Black; }
.Brass { background: $Brass; color: $Black; }
.Khaki { background: $Khaki; color: $White; }
.CamelBrown { background: $CamelBrown; color: $White; }
.Bronze { background: $Bronze; color: $White; }
.TigerOrange { background: $TigerOrange; color: $White; }
.Cinnamon { background: $Cinnamon; color: $White; }
.BulletShell { background:$BulletShell; color: $White; }
.DarkGoldenrod { background: $DarkGoldenrod; color: $White; }
.Copper { background: $Copper; color: $White; }
.Wood { background: $Wood; color: $White; }
.OakBrown { background: $OakBrown; color: $White; }
.Moccasin { background: $Moccasin; color: $White; }
.ArmyBrown { background: $ArmyBrown; color: $White; }
.Sandstone { background: $Sandstone; color: $White; }
.Mocha { background: $Mocha; color: $White; }
.Taupe { background: $Taupe; color: $White; }
.Coffee { background: $Coffee; color: $White; }
.BrownBear { background: $BrownBear; color: $White; }
.RedDirt { background: $RedDirt; color: $White; }
.Sepia { background: $Sepia; color: $White; }
.OrangeSalmon { background: $OrangeSalmon; color: $White; }
.Rust { background: $Rust; color: $White; }
.RedFox { background: $RedFox; color: $White; }
.Chocolate { background: $Chocolate; color: $White; }
.Sedona { background: $Sedona; color: $White; }
.PapayaOrange { background: $PapayaOrange; color: $White; }
.HalloweenOrange { background: $HalloweenOrange; color: $White; }
.PumpkinOrange { background: $PumpkinOrange; color: $White; }
.ConstructionConeOrange { background: $ConstructionConeOrange; color: $White; }
.SunriseOrange { background: $SunriseOrange; color: $White; }
.MangoOrange { background: $MangoOrange; color: $White; }
.DarkOrange { background: $DarkOrange; color: $White; }
.Coral { background: $Coral; color: $White; }
.BasketBallOrange { background: $BasketBallOrange; color: $White; }
.LightSalmon { background: $LightSalmon; color: $White; }
.Tangerine { background: $Tangerine; color: $White; }
.DarkSalmon { background: $DarkSalmon; color: $White; }
.LightCoral { background: $LightCoral; color: $White; }
.BeanRed { background: $BeanRed; color: $White; }
.ValentineRed { background: $ValentineRed; color: $White; }
.ShockingOrange { background: $ShockingOrange; color: $White; }
.Scarlet { background: $Scarlet; color: $White; }
.RubyRed { background: $RubyRed; color: $White; }
.FerrariRed { background: $FerrariRed; color: $White; }
.FireEngineRed { background: $FireEngineRed; color: $White; }
.LavaRed { background: $LavaRed; color: $White; }
